body{

    background-color: bisque;
     background: url("jacuzzi1.jpg");
     background-size:cover;
     

}

button{

    background-color: aliceblue;
    border-color: brown;
    border:20px;
    padding:10px 10px;

}


h1{
    color: red;
     padding: 25px 20px;
}

h2{

    color: rgb(255, 0, 55);
    background-color: beige;
}

h3{
     background-color: beige;
    color:blue;
    padding:35px 30px;

}

h4{
    background-color: aliceblue;
    color: rgb(0, 38, 255)
    padding:35px 30px;
}
h5{
    background-color: aliceblue;
}
